@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #6c5ce7;
}

html {
  scroll-behavior: smooth;
  transition: scroll 1s;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

#header-top {
  background: #000;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 10px 50px;
}

#header-top .support-payment {
  color: #f5f5f5;
  font-size: 14px;
}

#header-top .contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #f5f5f5;
}

#header-top .contact a {
  color: #f5f5f5;
  font-size: 13px;
}

.main-header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 99;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px 0 #dfe6e9;
  transition: 0.2s;
}

.main-header nav {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px;
  list-style: none;
}

.main-header nav li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

.main-header nav #active a,
.main-header nav #active .fa-angle-down {
  position: relative;
  color: #6c5ce7;
}

.main-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .logo img {
  width: 150px;
}

.main-header .header-main-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
}

.main-header .header-main-right .card-controls {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-header .header-main-right .profile .main-header .header-main-right .cart {
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart::after {
  position: absolute;
  content: attr(data-count);
  font-size: 10px;
  color: #fff;
  width: 15px;
  height: 15px;
  background-color: #e74c3c;
  border-radius: 50%;
}

.main-header .search {
  position: relative;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #b2bec3;
  border-radius: 20px;
  padding: 0 5px;
  transition: 0.6s;
}

.main-header .search .search-input {
  width: 91%;
  height: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  color: #2d3436;
}

.main-header .search .search-input::placeholder {
  font-size: 10px;
}

.main-header .search .btn-search {
  cursor: pointer;
  margin-right: 3px;
}

.suggest {
  position: absolute;
  width: 100%;
  top: 45px;
  background: #fff;
  box-shadow: 0 0 10px 0 #dfe6e9;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 99;
}

.suggest h6 {
  text-transform: uppercase;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #b2bec3;
  opacity: 0.7;
}

.suggest ul {
  width: 100%;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 15px;
}

.suggest ul li a {
  text-decoration: none;
  color: #333;
  border: 1px solid #b2bec3;
  padding: 3px 7px;
  font-size: 13px;
  border-radius: 5px;
}

.suggest ul li a:hover {
  box-shadow: 0 0 2px 0 #6c5ce7;
}

.menClothes,
.womenClothes,
.accessory,
.profile {
  position: relative;
}

.profile {
  cursor: pointer;
}

.menClothes i,
.womenClothes i,
.accessory i,
.profile i {
  font-size: 10px;
}

.notice {
  width: 200px;
  height: 60px;
  position: fixed;
  top: 100px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #f1c40fcc;
  border: 3px solid #e74c3c;
  border-radius: 10px;
  z-index: 999;
  transition: 0.5s all;
  transform: translateX(105%);
  opacity: 0;
}

.notice span {
  font-size: 13px;
}

.menClothes:hover .menClothes-child,
.womenClothes:hover .womenClothes-child,
.accessory:hover .accessory-child,
.profile:hover .profile-child {
  transform: translateY(0);
  opacity: 1;
  visibility: inherit;
}

.menClothes-child,
.womenClothes-child,
.accessory-child,
.profile-child {
  position: absolute;
  z-index: 2;
  top: 40px;
  width: 150px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #dfe6e9;
  border-radius: 2px;
  transform: translateY(20%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.profile-child {
  top: 50px;
  left: -100px;
  z-index: 99999;
}

.menClothes-child li a,
.womenClothes-child li a,
.accessory-child li a,
.profile-child li a {
  display: block;
  padding: 5px 0 5px 10px;
  box-shadow: 0 1px 2px 0 #dfe6e9;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.menClothes-child li:hover a,
.womenClothes-child li:hover a,
.accessory-child li:hover a,
.profile-child li:hover a {
  box-shadow: 0 2px 2px 0 #dfe6e9;
  transform: scale(1.01);
  color: #6c5ce7;
}

.menClothes-child::after,
.womenClothes-child::after,
.accessory-child::after,
.profile-child::after {
  position: absolute;
  content: "";
  top: -20px;
  left: 15px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.menClothes-child::before,
.womenClothes-child::before,
.accessory-child::before,
.profile-child::before {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 15px;
}

.profile-child::after {
  left: unset;
  right: 27px;
}

#btn-to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  bottom: 50px;
  right: 50px;
  font-size: 20px;
  z-index: 99;
  cursor: pointer;
  display: none;
  text-decoration: none;
}

footer {
  background-color: #f9f9f9;
  padding: 50px 0 10px 0;
  /* Xóa hiệu ứng của float: right; */
  clear: both;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: system-ui, sans-serif;
  letter-spacing: 2px;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer ul.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

footer ul.social-icons li:last-child {
  margin-right: 0;
}

footer ul.social-icons li a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

footer ul.social-icons li a:hover {
  background-color: #e74c3c;
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.main-footer .contact-footer-1 img {
  width: 250px;
  transform: translateX(-35px);
}

.main-footer .newsletter-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer .newsletter-form #email {
  width: 300px;
  border: none;
  border-bottom: 1px solid #b2bec3;
  outline: none;
  background: transparent;
  margin: 20px 0 30px 0;
  padding-left: 10px;
  height: 40px;
  box-shadow: 0 5px 100px 0 #dfe6e9;
}

.main-footer .newsletter-form button {
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 10px 0 #dfe6e9;
  cursor: pointer;
}

.main-footer .newsletter-form button:hover {
  background-color: #000;
  color: #fff;
}

.title-footer {
  text-align: center;
  opacity: 0.8;
}

.main-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#loader {
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  /* Màu nền của spinner */
  border-top: 8px solid #6c5ce7;
  /* Màu đỉnh của spinner */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  /* Tạo hiệu ứng quay vòng */
}

.main-header .menu-icon {
  display: none;
}

.main-header .menu {
  cursor: pointer;
}

.main-header nav .close-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    cursor: auto !important;
  }

  #header-top {
    justify-content: space-between;
  }

  #header-top .support-payment {
    font-size: 12px;
  }

  #header-top .contact {
    font-size: 12px;
  }

  #header-top .contact a {
    font-size: 10px;
  }

  .main-header .menu-icon {
    display: block;
  }

  .main-header .menu {
    font-size: 25px;
  }

  .main-header nav .close-menu {
    display: block;
    cursor: pointer;
  }

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: unset;
  }

  .main-header nav {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    text-align: justify;
    gap: 20px;
    background: #fff;
    z-index: 99999;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s all;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 20px;
  }

  .main-header nav li {
    width: 120px;
  }

  .menClothes,
  .womenClothes,
  .accessory {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menClothes i,
  .womenClothes i,
  .accessory i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menClothes-child,
  .womenClothes-child,
  .accessory-child {
    position: unset;
    height: 0;
    overflow: hidden;
    width: auto;
    box-shadow: none;
    transform: none;
    opacity: unset;
    visibility: unset;
  }

  .profile:hover .profile-child {
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden;
  }

  .menClothes-child li a,
  .womenClothes-child li a,
  .accessory-child li a {
    position: relative;
    padding: 10px 0;
    padding-left: 10px;
    box-shadow: unset;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .menClothes-child li a::after,
  .womenClothes-child li a::after,
  .accessory-child li a::after {
    position: absolute;
    content: "-";
    left: 0;
  }

  .menClothes-child li:hover a,
  .womenClothes-child li:hover a,
  .accessory-child li:hover a,
  .profile-child li:hover a {
    box-shadow: unset;
    transform: unset;
    color: #6c5ce7;
  }

  .menClothes-child::after,
  .womenClothes-child::after,
  .accessory-child::after {
    display: none;
  }

  .menClothes-child::before,
  .womenClothes-child::before,
  .accessory-child::before,
  .profile-child::before {
    display: none;
  }

  footer h4 {
    font-size: 14px;
  }

  footer p {
    font-size: 10px;
    margin-bottom: 0;
  }

  footer ul.social-icons li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  footer ul.social-icons li a i {
    font-size: 14px;
  }

  footer ul.social-icons li a:hover {
    background-color: #e74c3c;
  }

  .main-footer {
    grid-template-columns: repeat(3, 25%);
    justify-content: space-evenly;
  }

  .main-footer .newsletter-form {
    margin-top: 30px;
  }

  .main-footer .newsletter-form #email {
    width: 100%;
  }
}

/*Phone*/
@media screen and (min-width: 320px) and (max-width: 430px) {
  * {
    cursor: auto !important;
  }

  #header-top {
    display: none;
  }

  .main-header .menu-icon {
    display: block;
    text-align: left;
  }

  .main-header .menu {
    font-size: 25px;
  }

  .main-header nav .close-menu {
    display: block;
    font-size: 20px;
  }

  .main-header {
    align-items: center;
    position: unset;
  }

  .main-header .header-main-right .profile img,
  .main-header .header-main-right .cart img {
    width: 20px;
  }

  .main-header .search {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    justify-content: center;
    border-radius: 0;
    top: 59px;
    padding: 0 0;
    z-index: 99;
    border: none !important;
    gap: 0;
  }

  .main-header .search .search-input {
    width: 80%;
    height: 30px;
    border: 1px solid #dfe4ea;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .main-header .search .btn-search {
    margin-right: 0px;
    border-top: 1px solid #dfe4ea;
    border-bottom: 1px solid #dfe4ea;
    border-right: 1px solid #dfe4ea;
    width: 35px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .suggest {
    width: 80%;
  }

  .main-header .header-main-right .card-controls {
    gap: 15px;
  }

  .main-header nav {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    text-align: justify;
    gap: 20px;
    background: #fff;
    z-index: 99999;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s all;
    padding-top: 60px;
    font-size: 20px;
  }

  .main-header nav li {
    width: 120px;
    font-size: 16px;
  }

  .menClothes,
  .womenClothes,
  .accessory {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menClothes i,
  .womenClothes i,
  .accessory i {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 12px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menClothes-child,
  .womenClothes-child,
  .accessory-child {
    position: unset;
    height: 0;
    overflow: hidden;
    width: auto;
    box-shadow: none;
    transform: none;
    opacity: unset;
    visibility: unset;
    margin-top: 10px;
  }

  .profile:hover .profile-child {
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden;
  }

  .menClothes-child li a,
  .womenClothes-child li a,
  .accessory-child li a {
    position: relative;
    padding: 10px 0;
    padding-left: 10px;
    box-shadow: unset;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .menClothes-child li a::after,
  .womenClothes-child li a::after,
  .accessory-child li a::after {
    position: absolute;
    content: "-";
    left: 0;
  }

  .menClothes-child li:hover a,
  .womenClothes-child li:hover a,
  .accessory-child li:hover a,
  .profile-child li:hover a {
    box-shadow: unset;
    transform: unset;
    color: #6c5ce7;
  }

  .menClothes-child::after,
  .womenClothes-child::after,
  .accessory-child::after {
    display: none;
  }

  .menClothes-child::before,
  .womenClothes-child::before,
  .accessory-child::before,
  .profile-child::before {
    display: none;
  }

  footer h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  footer p {
    font-size: 10px;
    margin-bottom: 0;
  }

  footer ul.social-icons li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  footer ul.social-icons li a i {
    font-size: 14px;
  }

  footer ul.social-icons li a:hover {
    background-color: #e74c3c;
  }

  .main-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
  }

  .main-footer .newsletter-form {
    margin-top: 30px;
  }

  .main-footer .newsletter-form #email {
    width: 100%;
  }

  .main-footer .contact-footer-1 img {
    display: none;
  }

  #btn-to-top {
    border: none;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: #fff;
  }

  .notice {
    width: 150px;
    height: 40px;
  }

  .notice img {
    width: 15px;
  }

  .notice span {
    font-size: 10px;
  }
}
